.contrast-toggle {
	position: fixed;
	top: -1.5px;
	right: 10px;
	z-index: 9999; /* button must stay on top */
	padding: 8px 12px;
	font-size: 16px;
	border: none;
	border-radius: 6px;
	background-color: black;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

body.high-contrast {
	background-color: black !important;
	color: yellow !important;
}

body.high-contrast button {
	background-color: yellow !important;
	color: black !important;
}

/*High contrast styling for drink name and price in order summary*/
body.high-contrast .order-item h3 {
    color: rgb(0, 0, 0) !important;
}

body.high-contrast .order-item p {
    color: rgb(0, 0, 0) !important;
}

/*High contrast styling for checkout*/
body.high-contrast .homeScreenCheckout h1,
body.high-contrast .homeScreenCheckout h2,
body.high-contrast .homeScreenCheckout h3,
body.high-contrast .homeScreenCheckout p,
body.high-contrast .homeScreenCheckout span,
body.high-contrast .homeScreenCheckout strong,
body.high-contrast .homeScreenCheckout div {
    color: white !important;
}
